body {
	font-family: 'Droid Serif', serif;
	width: 1000px;
	margin: 0px auto;
	header {
		#main-title {
			color: #669999;
			text-align: center;
			padding: 30px 0px 5px 0px;
			font-size: 40px;
			font-weight: bold;
		}
		#main-sub-title {
			color: #669999;
			text-align: center;
			padding: 5px 0px 15px 0px;
			border-bottom: 1px solid #CACACC;
			font-weight: normal;
		}
	}
	#main-content {
		color: #808C99;
		#table-content {
			float: left;
			width: 40%;
			table {
				font-size: 16px;
				color: #808C99;
				border-collapse:collapse;
				tr {
					th {
						border: 1px solid #CACACC;
						padding: 10px;
					}
					td {
						border: 1px solid #CACACC;
						padding: 10px;
						ul {
							padding-left: 9px;
							.no-bullets {
								list-style: none;
							}
						}
						a {
							color: #5395DB;
						}
					}
					.italics {
						font-style: italic;
					}
					.bold {
						font-weight: bolder;
					}
				}
			}
		}
		#text-input-output {
			float: right;
			width: 60%;
			#text-output-title {
				margin-top: 40px;
			}
			#text-output-box {
				border: 1px solid #CACACC;
				min-height: 140px;
				padding: 5px;
			}
			form {
				textarea {
					font-family: 'Droid Serif', serif;
					color: #808C99;
					font-size: 16px;
					width: 100%;
					border: 1px solid #CACACC;
					border-radius: 2px;
					height: 100px;
				}
				#go-button {
					font-size: 16px;
					width: 50px;
					border-radius: 2px;
					float: right;
					margin: 10px 0px;
					background-color: #4B9494;
					color: white;
				}
			}
		}
	}
}