<html>
  <head>
  	<title>From plaintext to HTML</title>
  	<link rel="stylesheet" type="text/css" href="stylesheet.css" />
  </head>
	<body>

	<form action="/html" method="POST">
		<label for='plaintext' style='float:left; padding: 20px;'>Input any text and generate html from it</label>
	  <textarea name='plaintext' cols='100' rows='20'></textarea>
	  <input type='submit' value='Go'>
	</form>

	<table>
		<tr>
			<td>You type</td>
			<td>You see</td>
		</tr>
		<tr>
			<td>*italics*</td>
			<td class='italics'>italics</td>
		</tr>
		<tr>
			<td>**italics**</td>
			<td class='bold'>bold</td>
		</tr>
		<tr>
			<td>
				<ul>
					<li class='no-bullets'>*item 1</li>
					<li class='no-bullets'>*item 2</li>
					<li class='no-bullets'>*item 3</li>
				</ul>
			</td>
			<td>
				<ul>
					<li>item 1</li>
					<li>item 2</li>
					<li>item 3</li>
				</ul>
			</td>
		</tr>
		<tr>
			<td>[Google!](https://www.google.co.uk)</td>
			<td><a href="https://www.google.co.uk">Google!</a></td>
		</tr>
	</body>
</html>