<html>
  <head>
  	<title>From plaintext to HTML</title>
  	<link rel="stylesheet" type="text/css" href="stylesheet.css" />
  </head>
	<body>

	<form action="/html" method="POST">
		<label for='plaintext' style='float:left; padding: 20px;'>Input any text and generate html from it</label>
	  <textarea name='plaintext' cols='100' rows='20'></textarea>
	  <input type='submit' value='Go'>
	</form>

	<table>
		<tr>
			<td>You type</td>
			<td>You see</td>
		</tr>
		<tr>
			<td>*italics*</td>
			<td class='italics'>italics</td>
	</body>
</html>